
@rendermode InteractiveServer
@if (Machines == null)
{
    <div class="spinner-border-sm"></div>
}
else
{
    <div class="row m-2 p-2 fw-bolder text-white fs-5" style="background-color:darkblue">
        <div class="col">No.</div>
        <div class="col">Machine Id</div>
        <div class="col">Machine Name</div>
        <div class="col"></div>
    </div>
    @if (Machines.Count == 0)
    {
        <div class="m-2 fs-6 row">Machines not found</div>
    }
    else
    {
        int count = 1;
        @foreach(var machine in Machines)
        {
            <div class="m-2 border border-dark">
              <div class="row m-auto @(IsMachineSelected[machine.MachineName]?"fw-bolder bg-dark fs-6 text-white":"")">
                    <div class="col">@count</div>
                    <div class="col justify-content-center ">@machine.MachineId</div>
                    <div class="col">@machine.MachineName</div>
                    <div class="col "><button @onclick="()=>HandleClick(machine.MachineName)" class="btn btn-success">@(IsMachineSelected[machine.MachineName] ? "Hide Details" : "View Details")</button></div>
               </div>

                @if (IsMachineSelected[machine.MachineName])
                {
                    <AssetList Assets="machine.Asset"/>
                }
            </div>
            count++;
        }
    }
}